* {
    text-align: center;
}

body {
    background-color: #808080;
}
.white_box {
    background-color: #fff;
    height: 300px;
    width: 50%;
    padding: 5px;
}
.red_box {
    background-color: #FF0000;
    height: 200px;
    width: 75%;
    padding: 5px;
}
.yellow_box {
    background-color: #FFFF00;
    height: 100px;
    width: 50%;

}